.mx-auto {
    margin-top:50px;
    margin-left:0px;
}
.location{
	margin-left:-350px;
}
.cpy{
	float: right;
	margin:  auto; 
}
.column2 {
    float: right;
		margin-top:-520px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
body {
	width:100%;
	height:100%;
	padding: 50px;
}
.navbar-inverse{
	margin:10px;
}
.bg {
   	background:url('../images/405.jpg');
		background-repeat:no-repeat;
    height: 100%;
    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
   background-size: cover;
}
